* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--text-text-light, #fff);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17157a;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 100px;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 100px;
}

label {
  display: inline-flex;
  padding: 14px 43px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 18px;
  background: rgba(66, 62, 255, 0.3);
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  width: 100%;
}

input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 26px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox-wrapper {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  right: 48px;
  bottom: 10px;
  align-items: center;
  background: transparent;
}

#checkbox {
  width: 37px;
  height: 37px;
  clip-path: circle(58% at 50% 50%);
  opacity: 0.3;
  color: var(--MT-blue, #423eff);
  position: relative;
}

#checkbox::after {
  background-color: #423eff;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
}

#checkbox:checked::after {
  opacity: 0;
}

#checkbox:checked {
  opacity: 1;
  accent-color: #fff;
}

.color-text {
  color: #423eff;
}

button {
  display: flex;
  width: 613px;
  padding: 28px 53px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: var(--MT-red, #e30613);
  font-size: 28px;
  font-weight: 700;
}

.empty_field {
 border-bottom: solid 1px red;
}

.error {
  color:#e30613;
}

/* Tablet version */

@media (max-width: 1180px) {
  form {
    gap: 15px;
    padding: 50px;
  }

  h1 {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 50px;
  }
  
  label {
    padding: 7px 21px;
    gap: 5px;
    border-radius: 9px;
    font-size: 10px;
    line-height: 11px;
  }
  
  input {
    font-size: 14px;
    line-height: 13px;
  }
  
  .checkbox-wrapper {
    right: 24px;
    bottom: 5px;
  }
  
  #checkbox {
    width: 18px;
    height: 18px;
  }

  button {
    width: 306px;
    padding: 14px 26px;
    font-size: 14px;
    border-radius: 5px;
  }
}

/* Mobile version */

@media (max-width: 896px) {

  form {
    gap: 12px;
    padding: 38px;
  }

  h1 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 3cqh;
  }
  
  label {
    padding: 4px 16px;
    gap: 3px;
    border-radius: 4px;
    font-size: 7px;
    line-height: 9px;
  }
  
  input {
    font-size: 10px;
    line-height: 8px;
  }
  
  .checkbox-wrapper {
    right: 20px;
    bottom: 3px;
  }
  
  #checkbox {
    width: 14px;
    height: 14px;
  }

  button {
    width: 230px;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 3px;
  }
}

